body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  background-image: url("/images/background.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;

}


.card img {
  height: 250px;
  float: left;

  box-shadow: 10px 10px 5px #888888;
  background-color: white;
  margin: 15px;
  padding: 15px;
  border-radius: 5px;
}

.game {
  width: 90%;
  margin: auto;
  color: white;
}

.game h1 {
  font-size: 80px;
  padding-top: 50px;
}

.game p {
  padding-bottom: 50px;
}
